
<!doctype html>
<html class="no-js">

@await Html.PartialAsync("PartialViews/_header")

<body>

    @await Html.PartialAsync("PartialViews/_pageNavBar")

    <!-- #wrapper -->
    <div id="wrapper">

        @await Html.PartialAsync("PartialViews/_sideBar")

        @await Html.PartialAsync("PartialViews/_rightSideBar")

        <!-- .page-content -->
        <div class="page-content sidebar-page right-sidebar-page clearfix">
            <!-- .page-content-wrapper -->
            <div class="page-content-wrapper">
                <div class="page-content-inner">
                    <!-- .page-content-inner -->
                    <div id="page-header" class="clearfix">
                        <div class="page-header">
                            <h2>Dashboard</h2>
                            <span class="txt">Welcome to Dynamic admin</span>
                        </div>
                        <div class="header-stats">
                            <div class="spark clearfix">
                                <div class="spark-info"><span class="number">2345</span>Visitors</div>
                                <div id="spark-visitors" class="sparkline"></div>
                            </div>
                            <div class="spark clearfix">
                                <div class="spark-info"><span class="number">17345</span>Views</div>
                                <div id="spark-templateviews" class="sparkline"></div>
                            </div>
                            <div class="spark clearfix">
                                <div class="spark-info"><span class="number">3700$</span>Sales</div>
                                <div id="spark-sales" class="sparkline"></div>
                            </div>
                        </div>
                    </div>

                    @RenderBody()

                </div>
                <!-- / .page-content-inner -->
            </div>
            <!-- / page-content-wrapper -->
        </div>
        <!-- / page-content -->

    </div>

    <!-- / #wrapper -->

    @await Html.PartialAsync("PartialViews/_footer")

    <!-- Back to top -->
    <div id="back-to-top">
        <a href="#">Back to Top</a>
    </div>

    @await Html.PartialAsync("PartialViews/_scripts")

    @RenderSection("scripts", required: false)

</body>
</html>

